<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="desire_head_gazebo_v0" params="name">

		<gazebo reference="${name}_axis1_link">
			<material>Gazebo/Green</material>
			<turnGravityOff>false</turnGravityOff>
		</gazebo>
		<gazebo reference="${name}_axis2_link">
			<material>Gazebo/Green</material>
			<turnGravityOff>false</turnGravityOff>
		</gazebo>

	</xacro:macro>

</robot>
