<?xml version="1.0"?>
<launch>

	<!-- send ROBOT parameters to parameter server -->
	<rosparam command="load" ns="robot_modules" file="$(find cob_default_config)/robots/$(env ROBOT)/robot_modules.yaml"/>
	<rosparam command="load" ns="tray" file="$(find cob_default_config)/robots/$(env ROBOT)/tray_joint_configurations.yaml"/>
	<rosparam command="load" ns="torso" file="$(find cob_default_config)/robots/$(env ROBOT)/torso_joint_configurations.yaml"/>
	<rosparam command="load" ns="head" file="$(find cob_default_config)/robots/$(env ROBOT)/head_joint_configurations.yaml"/>
	<rosparam command="load" ns="arm" file="$(find cob_default_config)/robots/$(env ROBOT)/arm_joint_configurations.yaml"/>
	<rosparam command="load" ns="sdh" file="$(find cob_default_config)/robots/$(env ROBOT)/sdh_joint_configurations.yaml"/>
	<rosparam command="load" ns="light" file="$(find cob_default_config)/robots/$(env ROBOT)/light.yaml"/>
	<rosparam command="load" ns="sound" file="$(find cob_default_config)/robots/$(env ROBOT)/sound.yaml"/>
	
</launch>
