<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <xacro:macro name="cob_wheel_gazebo" params="suffix parent">
    <gazebo reference="${parent}_${suffix}_wheel_link">
      <mu1 value="100.0" />
      <mu2 value="100.0" />
      <kp  value="1000000.0" />
      <kd  value="1.0" />
      <material value="IPA/LightGrey"/>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="cob_caster_gazebo" params="suffix">
    <gazebo reference="${suffix}_caster_rotation_link">
      <material value="IPA/Metal" />
    </gazebo>
  </xacro:macro>

  <xacro:macro name="base_gazebo" params="name">
  <gazebo reference="${name}_link">
    <selfCollide>true</selfCollide>
    <sensor name='${name}_contact_sensor' type='contact'>
      <contact>
        <collision>${name}_link_geom</collision>
      </contact>
      <plugin name="${name}_gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>100.0</updateRate>
        <frameName>world</frameName>
        <bumperTopicName>${name}_bumper</bumperTopicName>
      </plugin>
    </sensor>
    <material>IPA/LightGrey</material>
  </gazebo>

    <gazebo>
    <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>100.0</updateRate>
      <bodyName>${name}_link</bodyName>
      <topicName>${name}_pose_ground_truth</topicName>
      <gaussianNoise>0.01</gaussianNoise>
      <frameName>map</frameName>
      <xyzOffsets>25.7 25.7 0</xyzOffsets> <!-- initialize odometry for fake localization-->
      <rpyOffsets>0 0 0</rpyOffsets>
    </plugin>        
    <canonicalBody>${name}_footprint</canonicalBody>
    </gazebo>
  </xacro:macro>

</robot>
