<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="cob_headeyes_gazebo_v0" params="name">
    
    <gazebo reference="${name}_base_link">
      <material>PR2/Green</material>
      <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="${name}_left_link">
      <material>PR2/Red</material>
      <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="${name}_right_link">
      <material>PR2/Red</material>
      <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="${name}_swissranger_link">
      <material>PR2/Blue</material>
      <turnGravityOff>false</turnGravityOff>
    </gazebo>
  </xacro:macro>


</robot>
