<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="cob_ur_connector_transmission" params="name">

    <transmission name="${name}_trans" type="pr2_mechanism_model/SimpleTransmission">
      <actuator name="${name}_motor"/>
      <joint name="${name}_joint"/>
      <mechanicalReduction>1</mechanicalReduction>
    </transmission>

  </xacro:macro>

</robot>
