<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <property name="M_PI" value="3.1415926535897931" />

  <!-- Casters -->
  <property name="cal_caster_fl" value="0.0" />
  <property name="cal_caster_fr" value="0.0" />
  <property name="cal_caster_bl" value="0.0" />
  <property name="cal_caster_br" value="0.0" />

  <!-- see https://secure.wikimedia.org/wikipedia/en/wiki/List_of_moment_of_inertia_tensors -->
  <xacro:macro name="sphere_inertial" params="radius mass *origin">
    <inertial>
      <mass value="${mass}" />
      <insert_block name="origin" />
      <inertia ixx="${0.4 * mass * radius * radius}" ixy="0.0" ixz="0.0"
        iyy="${0.4 * mass * radius * radius}" iyz="0.0"
        izz="${0.4 * mass * radius * radius}" />
    </inertial>
  </xacro:macro>

  <xacro:macro name="cylinder_inertial" params="radius length mass *origin">
    <inertial>
      <mass value="${mass}" />
      <insert_block name="origin" />
      <inertia ixx="${0.0833333 * mass * (3 * radius * radius + length * length)}" ixy="0.0" ixz="0.0"
        iyy="${0.0833333 * mass * (3 * radius * radius + length * length)}" iyz="0.0"
        izz="${0.5 * mass * radius * radius}" />
    </inertial>
  </xacro:macro>

  <xacro:macro name="box_inertial" params="x y z mass *origin">
    <inertial>
      <mass value="${mass}" />
      <insert_block name="origin" />
      <inertia ixx="${0.0833333 * mass * (y*y + z*z)}" ixy="0.0" ixz="0.0"
        iyy="${0.0833333 * mass * (x*x + z*z)}" iyz="0.0"
        izz="${0.0833333 * mass * (x*x + y*y)}" />
    </inertial>
  </xacro:macro>
  
  <xacro:macro name="spherical_cap_inertial" params="r h mass *origin">
    <inertial>
      <mass value="${mass}" />
      <insert_block name="origin" />
      <inertia ixx="${mass*h/(10*(3*r-h))*(3*h*h-15*h*r+20*r*r)}" ixy="0.0" ixz="0.0"
        iyy="${(-3*h*h*h/20+3*h*h*r/4-4*h*r*r/3+r*r*r)*3*mass/(3*r-h)}" iyz="0.0"
        izz="${(-3*h*h*h/20+3*h*h*r/4-4*h*r*r/3+r*r*r)*3*mass/(3*r-h)}" />
      <origin></origin>
    </inertial>
  </xacro:macro>
  
  <xacro:macro name="hollow_spherical_cap_inertial" params="r h t mass *origin">
    <inertial>
      <mass value="${mass}" />
      <insert_block name="origin" />
      <inertia ixx="${mass/(10*(2*t*t*t-3*r*t*t-3*h*t*t+6*h*t*r))*(h*h*h*(3*h*h-15*h*r+20*r*r)-(h-t)*(h-t)*(h-t)*(3*(h-t)*(h-t)*(h-t)-15*(h-t)*(r-t)+20*(r-t)*(r-t)))}" ixy="0.0" ixz="0.0"
        iyy="${mass*t/20*(20*h*h*h*r-10*h*h*h*t-60*h*h*r*r+30*h*h*r*t+120*h*r*r*r-120*h*r*r*t+60*h*r*t*t-15*h*t*t*t-60*r*r*r*t+100*r*r*t*t-65*r*t*t*t+16*t*t*t*t)/(2*t*t*t-3*r*t*t-3*h*t*t+6*h*t*r)}" iyz="0.0"
        izz="${mass*t/20*(20*h*h*h*r-10*h*h*h*t-60*h*h*r*r+30*h*h*r*t+120*h*r*r*r-120*h*r*r*t+60*h*r*t*t-15*h*t*t*t-60*r*r*r*t+100*r*r*t*t-65*r*t*t*t+16*t*t*t*t)/(2*t*t*t-3*r*t*t-3*h*t*t+6*h*t*r)}" />
    </inertial>
  </xacro:macro>
  
  <xacro:macro name="default_inertial">
    <inertial>
      <mass value="0.01"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
  </xacro:macro>

</robot> 
