<?xml version="1.0"?>
<robot>


	<material name="IPA/LightGrey">
		<color rgba="0.81 0.81 0.81 1.0"/>
	</material>

	<material name="IPA/DarkGrey">
		<color rgba="0.7 0.7 0.7 1.0"/>
	</material>

	<material name="IPA/Orange">
		<color rgba="1.0 0.5 0.0 1.0"/>
	</material>

	<material name="IPA/Black">
		<color rgba="0.0 0.0 0.0 1.0"/>
	</material>


</robot>
