<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find raw_description)/urdf/tower_symetric/tower.gazebo.xacro" />

  <!-- Properties -->
  <property name="tower_mass" value="6.49" />

  <xacro:macro name="tower_symetric" params="name parent *origin" >

    <joint name="${name}_joint" type="fixed">
      <insert_block name="origin" />
      <!--origin xyz=" 0.36 -0.029 0.48" rpy="0 0 3.14159265" /-->
      <parent link="${parent}"/>
      <child link="${name}_base_link" />
    </joint>

    <link name="${name}_base_link">
      <inertial>
        <mass value="${tower_mass}" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.1" ixy="0.002" ixz="0.01"
                 iyy="0.26" iyz="0.0" izz="0.24" />
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://raw_description/meshes/tower/raw_tower_symetric.dae"/>
        </geometry> 
      </visual>

      <collision>
        <origin xyz="0 0 0.0865" rpy="0 0 0"/>
        <geometry>
          <!--mesh filename="package://raw_description/meshes/base/raw_tower_collision.stl"/-->
          <box size="0.316 0.573 0.173" />
        </geometry>
      </collision>
    </link>

    <!-- extensions -->
    <xacro:raw_tower_symetric_gazebo name="${name}" />

  </xacro:macro>

</robot>
