<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find cob_description)/urdf/common.xacro" />
  <xacro:include filename="$(find ur_description)/urdf/ur10.urdf.xacro" />
  <!--xacro:include filename="$(find ur_description)/urdf/ur10_joint_limited.urdf.xacro" /-->
  
  <property name="wrist_3_length" value="0.0857" />
  
  <xacro:macro name="ur10" params="parent name *origin">
  
    <!-- mount the arm to the robot -->
    <joint name="${name}_base_joint" type="fixed" >
      <insert_block name="origin" />
      <parent link="${parent}" />
      <child link="arm_base_link" />
    </joint>
    
    <!-- include universal_robot arm -->
    <xacro:ur10_robot prefix="arm_"/>
    
  </xacro:macro>

</robot>
