<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find cob_description)/urdf/common.xacro" />
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />
  
  <!--property name="wrist_3_length" value="0.0823" /-->
  
  <xacro:macro name="ur5" params="parent name *origin">
  
    <!-- mount the arm to the robot -->
    <joint name="${name}_base_joint" type="fixed" >
      <insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${name}_base_link" />
    </joint>
    
    <!-- include universal_robot arm -->
    <xacro:ur5_robot prefix="${name}_" joint_limited="true"/>
  
  </xacro:macro>

</robot>
