<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find cob_description)/urdf/common.xacro" />
  <xacro:include filename="$(find raw_description)/urdf/powerball/powerball_ERB115.urdf.xacro" />

  <xacro:macro name="raw_torso_v2" params="name parent *origin">

    <!-- joint between base_link and torso_bottom_link -->
    <joint name="${name}_0_joint" type="fixed" >
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${name}_0_link" />
    </joint>

    <link name="${name}_0_link">
      <xacro:cylinder_inertial radius="0.04" length="0.508" mass="1.0">
        <origin xyz="0 0 0.254" rpy="0 0 0" />
      </xacro:cylinder_inertial>

      <visual>
        <origin xyz="0 0 0.254" rpy="0 0 0" />
        <xacro:cylinder_geometry radius="0.04" length="0.508" />
        <material name="IPA/LightGrey" />
      </visual>

      <collision>
        <origin xyz="0 0 0.254" rpy="0 0 0" />
        <xacro:cylinder_geometry radius="0.04" length="0.508" />
      </collision>
    </link>

    <xacro:powerball_ERB115 name="torso" parent="${name}_0_link">
      <origin xyz="0.0 0.0 0.582" rpy="0.0 0.0 0.0" />
    </xacro:powerball_ERB115>

    <!-- ros_control plugin -->
    <gazebo>
      <plugin name="${name}_ros_control" filename="libhwi_switch_gazebo_ros_control.so">
        <robotNamespace>${name}</robotNamespace>
        <filterJointsParam>joint_names</filterJointsParam>
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>
