<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="cob_torso_gazebo_v1" params="name">

		<gazebo reference="${name}_tray_link">
			<material>Gazebo/Green</material>
			<turnGravityOff>false</turnGravityOff>
		</gazebo>

		<gazebo reference="${name}_lower_neck_tilt_link">
			<material>Gazebo/Red</material>
			<turnGravityOff>false</turnGravityOff>
		</gazebo>

		<gazebo reference="${name}_pan_link">
			<material>Gazebo/Blue</material>
			<turnGravityOff>false</turnGravityOff>
		</gazebo>

		<gazebo reference="${name}_upper_neck_tilt_link">
			<material>Gazebo/Grey</material>
			<turnGravityOff>false</turnGravityOff>
		</gazebo>

		<gazebo reference="head_cover_link">
			<material>Gazebo/Blue</material>
			<turnGravityOff>false</turnGravityOff>
		</gazebo>

	</xacro:macro>

</robot>
