<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="raw_torso_gazebo" params="name">

    <gazebo reference="${name}_pan_link">
      <material>IPA/LightGrey</material>
      <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="${name}_tilt_link">
      <material>IPA/LightGrey</material>
      <turnGravityOff>false</turnGravityOff>
    </gazebo>

  </xacro:macro>

</robot>
