<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find cob_description)/ros/urdf/sensors/hokuyo_SR400_laser.gazebo.xacro" />

  <xacro:macro name="hokuyo_SR400_laser_v0" params="name parent *origin ros_topic update_rate min_angle max_angle">
    <joint name="${name}_joint" type="fixed">
      <axis xyz="0 1 0" />
      <insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>

    <link name="${name}_link" type="laser"/>

    <!-- gazebo extensions -->
    <xacro:hokuyo_SR400_laser_gazebo_v0 name="${name}" ros_topic="${ros_topic}" update_rate="${update_rate}" min_angle="${min_angle}" max_angle="${max_angle}" />
  </xacro:macro>
  
</robot>
