<?xml version="1.0"?>
<root xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
      xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
      xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
      xmlns:xacro="http://ros.org/wiki/xacro">
  
<xacro:macro name="cob_kinect_gazebo_v0" params="name ros_topic">
  <gazebo reference="${name}_frame">
	  
	<sensor type="depth" name="${name}_frame_sensor">
		<always_on>true</always_on>
		<update_rate>20.0</update_rate>
		<camera>
			<horizontal_fov>${62.0*M_PI/180.0}</horizontal_fov>
			<image>
				<format>R8G8B8</format>
				<width>640</width>
				<height>480</height>
			</image>
			<clip>
				<near>0.1</near>
				<far>100</far>
			</clip>
		</camera>
		<plugin name="${name}_depth_frame_controller" filename="libgazebo_ros_openni_kinect.so">
			<alwaysOn>true</alwaysOn>
			<updateRate>20.0</updateRate>
			<imageTopicName>${ros_topic}/ir/image_raw</imageTopicName>
			<cameraInfoTopicName>${ros_topic}/ir/camera_info</cameraInfoTopicName>
			<depthImageTopicName>${ros_topic}/depth/image_raw</depthImageTopicName>
			<depthImageInfoTopicName>${ros_topic}/depth/camera_info</depthImageInfoTopicName>
			<pointCloudTopicName>${ros_topic}/depth/points</pointCloudTopicName>
			<frameName>${name}_link</frameName>
			<pointCloudCutoff>0.5</pointCloudCutoff>
			<distortionK1>0.00000001</distortionK1>
			<distortionK2>0.00000001</distortionK2>
			<distortionK3>0.00000001</distortionK3>
			<distortionT1>0.00000001</distortionT1>
			<distortionT2>0.00000001</distortionT2>
		</plugin>
	</sensor>
    
	<sensor type="depth" name="${name}_frame_sensor">
		<always_on>true</always_on>
		<update_rate>20.0</update_rate>
		<camera>
			<horizontal_fov>${62.0*M_PI/180.0}</horizontal_fov>
			<image>
				<format>R8G8B8</format>
				<width>640</width>
				<height>480</height>
			</image>
			<clip>
				<near>0.1</near>
				<far>100</far>
			</clip>
		</camera>
		<plugin name="${name}_rgb_frame_controller" filename="libgazebo_ros_openni_kinect.so">
			<alwaysOn>true</alwaysOn>
			<updateRate>20.0</updateRate>
			<imageTopicName>${ros_topic}/rgb/image_raw</imageTopicName>
			<cameraInfoTopicName>${ros_topic}/rgb/camera_info</cameraInfoTopicName>
			<frameName>${name}_link</frameName>
			<pointCloudCutoff>0.5</pointCloudCutoff>
			<distortionK1>0.00000001</distortionK1>
			<distortionK2>0.00000001</distortionK2>
			<distortionK3>0.00000001</distortionK3>
			<distortionT1>0.00000001</distortionT1>
			<distortionT2>0.00000001</distortionT2>
		</plugin>
	</sensor>

    <material>IPA/LightGrey</material>
  </gazebo>

</xacro:macro>

</root>


