<?xml version="1.0"?>
<root xmlns:xacro="http://www.ros.org/wiki/xacro">
  
<xacro:macro name="cob_kinect_gazebo_v0" params="name ros_topic">
  <gazebo reference="${name}_frame">
    
  <sensor type="depth" name="${name}_frame_sensor">
    <always_on>true</always_on>
    <update_rate>20.0</update_rate>
    <camera>
      <horizontal_fov>${62.0*M_PI/180.0}</horizontal_fov>
      <image>
        <format>R8G8B8</format>
        <width>640</width>
        <height>480</height>
      </image>
      <clip>
        <near>0.1</near>
        <far>100</far>
      </clip>
    </camera>
    <plugin name="${name}_controller" filename="libgazebo_ros_openni_kinect.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>20.0</updateRate>
      <cameraName>${ros_topic}</cameraName>
      <frameName>${name}_link</frameName>
      <imageTopicName>rgb/image_raw</imageTopicName>
      <depthImageTopicName>depth/image_raw</depthImageTopicName>
      <pointCloudTopicName>depth_registered/points</pointCloudTopicName>
      <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
      <depthImageCameraInfoTopicName>depth_registered/camera_info</depthImageCameraInfoTopicName>
      <pointCloudCutoff>0.5</pointCloudCutoff>
      <baseline>0.2</baseline>
      <hackBaseline>0.0</hackBaseline>
      <distortionK1>0.0</distortionK1>
      <distortionK2>0.0</distortionK2>
      <distortionK3>0.0</distortionK3>
      <distortionT1>0.0</distortionT1>
      <distortionT2>0.0</distortionT2>
      <CxPrime>0.0</CxPrime>
      <Cx>0.0</Cx>
      <Cy>0.0</Cy>
      <focalLength>0.0</focalLength>
    </plugin>
  </sensor>

    <material>IPA/LightGrey</material>
  </gazebo>

</xacro:macro>

</root>


