<?xml version="1.0"?>
<root xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:include filename="$(find cob_description)/urdf/sensors/kinect.gazebo.xacro" />

  <xacro:macro name="cob_kinect_v0" params="name parent *origin ros_topic">
    <joint name="${name}_joint" type="fixed">
      <insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>

    <link name="${name}_link">
      <xacro:box_inertial x="0.18" y="0.035" z="0.05" mass="0.3">
        <origin xyz="0 0 0" rpy="0 0 0" />
      </xacro:box_inertial>
      <visual>
        <origin xyz="0 0 -0.03" rpy="0 0 0" />
        <geometry>
          <box size="0.02 0.02 0.02"/>
        </geometry>
        <material name="IPA/LightGrey" />
      </visual>
      <collision>
        <origin xyz="0 0 -0.03" rpy="0 0 0" />
        <geometry>
           <box size="0.02 0.02 0.02"/>
        </geometry>
      </collision>
    </link>
    
    <joint name="${name}_frame_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${M_PI/2} -${M_PI/2} 0" />
      <parent link="${name}_link"/>
      <child link="${name}_frame"/>
    </joint>

    <link name="${name}_frame"/>

    <!-- extensions -->
    <xacro:cob_kinect_gazebo_v0 name="${name}" ros_topic="${ros_topic}" />
  </xacro:macro>

</root>

