<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="phidgets_distance_gazebo_v0" params="name ros_topic update_rate">
    <gazebo reference="${name}_link">
      <sensor name="${name}" type="ray">
        <always_on>true</always_on>
        <update_rate>${update_rate}</update_rate>
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <ray>
          <scan>
            <horizontal>
              <samples>10</samples>
              <resolution>1.0</resolution>
              <min_angle>-0.2</min_angle>
              <max_angle>0.2</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.01</min>    <!-- real value from sensor datasheet is 0.04m -->
            <max>0.4</max>    <!-- real value from sensor datasheet is 0.30m -->
            <resolution>0.005</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.005</stddev>
          </noise>
        </ray>
        <plugin name="gazebo_ros_${name}_controller" filename="libgazebo_ros_laser.so">
          <topicName>${ros_topic}</topicName>
          <frameName>/${name}_link</frameName>
        </plugin>
      </sensor>  
      <material>IPA/LightGrey</material>
    </gazebo>
  </xacro:macro>

</robot>
