<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="phidgets_distance_gazebo_v0" params="name ros_topic update_rate">
    <gazebo reference="${name}_link">
      <sensor:ray name="${name}">
        <rayCount>10</rayCount>
        <rangeCount>10</rangeCount>
        <laserCount>1</laserCount>

        <origin>0.0 0.0 0.0</origin>
        <displayRays>false</displayRays>

        <minAngle>${-0.2*180.0/M_PI}</minAngle>
        <maxAngle>${0.2*180.0/M_PI}</maxAngle>

        <minRange>0.01</minRange> <!-- real value from sensor datasheet is 0.04m -->
        <maxRange>0.4</maxRange>  <!-- real value from sensor datasheet is 0.30m -->
        <resRange>0.005</resRange>
        <updateRate>${update_rate}</updateRate>
        <controller:gazebo_ros_laser name="gazebo_ros_${name}_controller" plugin="libgazebo_ros_laser.so">
          <gaussianNoise>0.005</gaussianNoise>
          <alwaysOn>true</alwaysOn>
          <updateRate>${update_rate}</updateRate>
          <topicName>${ros_topic}</topicName>
          <frameName>/${name}_link</frameName>
          <interface:laser name="gazebo_ros_${name}_iface" />
        </controller:gazebo_ros_laser>
      </sensor:ray>
      <material>IPA/LightGrey</material>
    </gazebo>
  </xacro:macro>

</robot>
