<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find cob_description)/urdf/sensors/realsense.gazebo.xacro" />

  <xacro:macro name="realsense" params="name parent ros_topic *origin">

    <joint name="${name}_joint" type="fixed">
      <insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>

    <link name="${name}_link">
      <inertial>
        <mass value="0.564" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.003881243" ixy="0.0" ixz="0.0" iyy="0.000498940" iyz="0.0" izz="0.003879257" />
      </inertial>
      <visual>
       <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.002 0.002 0.002"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <geometry>
          <box size="0.007 0.130 0.0118"/>
        </geometry>
      </collision>
    </link>

    <!--joint name="${name}_rgb_joint" type="fixed">
      <origin xyz="0.0088 -0.1034 0.0483" rpy="0 0 0"/>
      <parent link="${name}_link"/>
      <child link="${name}_rgb_frame" />
    </joint>
    <link name="${name}_rgb_frame"/>

    <joint name="${name}_rgb_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
      <parent link="${name}_rgb_frame" />
      <child link="${name}_rgb_optical_frame" />
    </joint>
    <link name="${name}_rgb_optical_frame"/>

    <joint name="${name}_depth_joint" type="fixed">
      <origin xyz="0 0.0274 0" rpy="0 0 0" />
      <parent link="${name}_rgb_frame" />
      <child link="${name}_depth_frame" />
    </joint>
    <link name="${name}_depth_frame"/>

    <joint name="${name}_depth_optical_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
      <parent link="${name}_depth_frame" />
      <child link="${name}_depth_optical_frame" />
    </joint>
    <link name="${name}_depth_optical_frame"/-->

    <!-- extensions -->
    <xacro:realsense_gazebo name="${name}" ros_topic="${ros_topic}" />
  </xacro:macro>

</robot>

