<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- use default values of realsense_camera/r200_nodelet_rgbd -->
  <xacro:macro name="realsense_zr300_gazebo" params="name ros_topic
                                               depth_fps:=30.0 depth_height:=480 depth_width:=640
                                               color_fps:=30.0 color_height:=480 color_width:=640" >
    <gazebo reference="${name}_link">
      <sensor type="depth" name="${name}_depth_frame">
        <always_on>true</always_on>
        <update_rate>${color_fps}</update_rate>
        <camera>
          <horizontal_fov>${74.0*M_PI/180.0}</horizontal_fov>
          <image>
            <format>B8G8R8</format>
            <width>${color_width}</width>
            <height>${color_height}</height>
          </image>
          <clip>
            <near>0.55</near>
            <far>2.8</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.0</stddev>
          </noise>
        </camera>
        <plugin name="${name}_frame_controller" filename="libgazebo_ros_openni_kinect.so">
          <updateRate>${color_fps}</updateRate>
          <cameraName>${ros_topic}</cameraName>
          <frameName>${name}_rgb_optical_frame</frameName>
          <imageTopicName>rgb/image_raw</imageTopicName>
          <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
          <pointCloudTopicName>depth/points</pointCloudTopicName>
          <depthImageTopicName>depth/image_raw</depthImageTopicName>
          <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
          <pointCloudCutoff>0.55</pointCloudCutoff>
          <pointCloudCutoffMax>2.8</pointCloudCutoffMax>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
          <CxPrime>0.0</CxPrime>
          <Cx>0.0</Cx>
          <Cy>0.0</Cy>
          <focalLength>0.0</focalLength>
        </plugin>
      </sensor>
      <!-- ToDo: add plugins for IMU, Fisheye, IR -->
      <material>IPA/LightGrey</material>
    </gazebo>
  </xacro:macro>

</robot>

