<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find cob_description)/urdf/sensors/sick_s300_laser.gazebo.xacro" />

  <property name="cylinder_radius" value="0.05" />  <!--simple collision model for the laser -->
  <property name="cylinder_length" value="0.15" /> 

  <xacro:macro name="sick_s300_laser_v0" params="name parent *origin ros_topic update_rate min_angle max_angle">
    <joint name="${name}_joint" type="fixed">
      <axis xyz="0 1 0" />
      <insert_block name="origin" />
      <parent link="${parent}_link"/>
      <child link="${name}_link"/>
    </joint>
    
    <link name="${name}_link" type="laser">
      <xacro:cylinder_inertial radius="${cylinder_radius}" length="${cylinder_length}" mass="1.2">
        <origin xyz="0 0 0" rpy="0 0 0" />
      </xacro:cylinder_inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://cob_description/meshes/sensors/sick_s300_laser.dae"/>
          <!--box size="0.001 0.001 0.001" /-->
        </geometry>
        <material name="IPA/LightGrey" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <cylinder radius="${cylinder_radius}" length="${cylinder_length}" />
        </geometry>
      </collision>
    </link>
    
    <!-- gazebo extensions -->
    <xacro:sick_s300_laser_gazebo_v0 name="${name}" ros_topic="${ros_topic}" update_rate="${update_rate}" min_angle="${min_angle}" max_angle="${max_angle}" />
  </xacro:macro>
  
</robot>
