<?xml version="1.0"?>
<root xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
      xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
      xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
      xmlns:xacro="http://ros.org/wiki/xacro">
  
<!-- specs from mesa Swiss Ranger SR400001 http://www.mesa-imaging.ch/prodview4k.php -->
<xacro:macro name="cob_tof_gazebo_v0" params="name ros_topic">

  <gazebo reference="${name}_frame">
	  
	  <sensor name="${name}_sensor" type="ray">
		<always_on>true</always_on>
		<update_rate>10</update_rate>
		<pose>0 0 0.05 0 0 0</pose>
		<visualize>false</visualize>
		<ray>
			<scan>
				<horizontal>
					<samples>176</samples>
					<resolution>1.0</resolution>
					<min_angle>-0.38</min_angle>
					<max_angle>0.38</max_angle>
				</horizontal>
				<vertical>
					<samples>144</samples>
					<resolution>1.0</resolution>
					<min_angle>-0.3</min_angle>
					<max_angle>0.3</max_angle>
				</vertical>
			</scan>
			<range>
				<min>0.80</min>
				<max>5.0</max>
				<resolution>0.010</resolution>
			</range>
		</ray>
		<plugin name="tof_controller" filename="libgazebo_ros_block_laser.so">
            <gaussianNoise>0.005</gaussianNoise>
            <alwaysOn>true</alwaysOn>
            <updateRate>30</updateRate> 
            <topicName>${ros_topic}</topicName>
            <frameName>/${name}_frame</frameName>
		</plugin>
      </sensor>	
<!--
    <sensor:ray name="${name}_sensor">
          <rayCount>176</rayCount>
          <rangeCount>176</rangeCount>
          <laserCount>1</laserCount>
          
          <origin>0.0 0.0 0.05</origin>
          <displayRays>false</displayRays>
          
          <minAngle>-21.8</minAngle>
          <maxAngle>21.8</maxAngle>
          
          <minRange>0.80</minRange> 
          <maxRange>5.0</maxRange> 
          <resRange>0.010</resRange>
          <updateRate>10</updateRate> 

          <verticalRayCount>144</verticalRayCount> 
          <verticalRangeCount>144</verticalRangeCount>
          <verticalMinAngle>-17.3</verticalMinAngle>
          <verticalMaxAngle>17.3</verticalMaxAngle>

          <controller:gazebo_ros_block_laser name="tof_controller" plugin="libgazebo_ros_block_laser.so">
            <gaussianNoise>0.005</gaussianNoise>
            <alwaysOn>true</alwaysOn>
            <updateRate>30</updateRate> 
            <topicName>${ros_topic}</topicName>
            <frameName>/${name}_frame</frameName>
            <interface:laser name="${name}_ray_block_iface" />
          </controller:gazebo_ros_block_laser>
        </sensor:ray>
-->
    <material value="IPA/LightGrey" />
    <turnGravityOff>true</turnGravityOff>
  </gazebo>

</xacro:macro>

</root>
