<?xml version="1.0"?>
<root xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- specs from mesa Swiss Ranger SR400001 http://www.mesa-imaging.ch/prodview4k.php -->
  <xacro:macro name="cob_tof_gazebo_v0" params="name ros_topic">
    <gazebo reference="${name}_frame">
      <sensor name="${name}_sensor" type="ray">
        <always_on>true</always_on>
        <update_rate>10</update_rate>  <!--max50Hz-->
        <pose>0 0 0.05 0 0 0</pose>
        <visualize>false</visualize>
        <ray>
          <scan>
            <horizontal>
              <samples>176</samples>    <!--true value 176-->
              <resolution>1.0</resolution>
              <min_angle>-0.38</min_angle>
              <max_angle>0.38</max_angle>
            </horizontal>
            <vertical>
              <samples>144</samples>    <!--true value 144 -->
              <resolution>1.0</resolution>
              <min_angle>-0.3</min_angle>
              <max_angle>0.3</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.80</min>    <!--0.8m min calibrated range-->
            <max>5.0</max>    <!--5.0m max calibrated range--> 
            <resolution>0.010</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.005</stddev>
          </noise>
        </ray>
        <plugin name="tof_controller" filename="libgazebo_ros_block_laser.so">
          <gaussianNoise>0.005</gaussianNoise>
          <updateRate>30</updateRate>   <!--max 50Hz, cob3 30Hz -->
          <topicName>${ros_topic}</topicName>
          <frameName>/${name}_frame</frameName>
          <hokuyoMinIntensity>101</hokuyoMinIntensity>
        </plugin>
      </sensor>
      <material value="IPA/LightGrey" />
    </gazebo>
  </xacro:macro>

</root>
