<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="cob" >
  
  <!-- The following included files set up definitions of parts of the robot body -->
  <!-- misc common stuff? -->
  <include filename="$(find cob_description)/ros/urdf/common.xacro" />
  
  <include filename="$(find cob_description)/ros/calibration/cob3-1.urdf.xacro" />

  <!-- cob arm-->
  <include filename="$(find cob_description)/ros/urdf/arm_v0/arm.urdf.xacro" />

  <!-- generic simulator_gazebo plugins for starting mechanism control, ros time, ros battery -->
  <include filename="$(find cob_description)/ros/gazebo/gazebo.urdf.xacro" />
  
  <!-- materials for visualization -->
  <include filename="$(find cob_description)/ros/urdf/materials.urdf.xacro" />

  <!-- foot for arm-->
	<link name="base_link">
		<inertial>
		   <origin xyz="0 0 0" rpy="0 0 0"/>
		   <mass value="10.0"/>
		   <inertia ixx="0.01"  ixy="0"  ixz="0" iyy="0.01" iyz="0" izz="0.01" />
		</inertial>

		<visual>
		   <origin xyz="0 0 0.25" rpy="0 0 0" />
		   <geometry>
			  <cylinder radius="0.1" length="0.5"/>
		   </geometry>
		   <material name="Grey" />
		</visual>

		<collision>
		   <origin xyz="0 0 0.25" rpy="0 0 0" />
		   <geometry>
			  <cylinder radius="0.1" length="0.5"/>
		   </geometry>
		</collision>
	</link>

  <!-- cob arm-->
  <xacro:cob_arm_v0 name="arm" parent="base_link">
    <origin xyz="0 0 0.5" rpy="3.1415926 0 0" />
  </xacro:cob_arm_v0>

</robot>
