<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--  Caster wheel transmission   -->
  <xacro:macro name="desire_wheel_transmission_v0" params="suffix parent reflect">
    <transmission name="desire_wheel_transmission_v0">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${parent}_${suffix}_wheel_joint"/>      
      <actuator name="${parent}_${suffix}_wheel_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>${reflect * 624/35 * 80/18}</mechanicalReduction>
      </actuator>
    </transmission>    
  </xacro:macro>

  <!-- Hub transmission only -->
  <xacro:macro name="desire_caster_transmission_v0" params="suffix">
    <transmission name="desire_caster_transmission_v0">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${suffix}_rotation_joint"/>      
      <actuator name="${suffix}_rotation_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>${-1 * 624/35 * 80/18}</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>
  
</robot>
