<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="powerball_ERB115_gazebo" params="name">

    <gazebo reference="${name}_ball_link">
      <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="${name}_knob_link">
      <turnGravityOff>false</turnGravityOff>
    </gazebo>

  </xacro:macro>

</robot>
