<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="head_gazebo" params="name">

		<gazebo reference="${name}_base_link">
			<material>IPA/LightGrey</material>
			<gravity>true</gravity>
		</gazebo>
		
		<gazebo reference="${name}_1_link">
            <material>IPA/LightGrey</material>
			<gravity>true</gravity>
		</gazebo>

		<gazebo reference="${name}_2_link">
			<material>IPA/LightGrey</material>
			<gravity>true</gravity>
		</gazebo>
		
		<gazebo reference="${name}_3_link">
			<material>IPA/LightGrey</material>
			<gravity>true</gravity>
		</gazebo>

	</xacro:macro>

</robot>
