<?xml version="1.0"?>
<robot>

	<property name="M_PI" value="3.1415926535897931" />

	<!-- Casters -->
	<property name="cal_caster_fl" value="0.0" />
	<property name="cal_caster_fr" value="0.0" />
	<property name="cal_caster_bl" value="0.0" />
	<property name="cal_caster_br" value="0.0" />

</robot>
