<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--  Caster wheel transmission   -->
  <xacro:macro name="cob_wheel_transmission" params="suffix parent reflect">
    <transmission name="${parent}_${suffix}_wheel_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${parent}_${suffix}_wheel_joint" />
      <actuator name="${parent}_${suffix}_wheel_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>${reflect * 624/35 * 80/18}</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <!-- Hub transmission only -->
  <xacro:macro name="cob_caster_transmission" params="suffix">
    <transmission name="${suffix}_rotation_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${suffix}_rotation_joint" />
      <actuator name="${suffix}_rotation_motor" >
       <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>${-1 * 624/35 * 80/18}</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>
  
</robot>
