<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="cob3-1">

	<property name="base_offset_x" value="0.4" />
	<property name="base_offset_y" value="0.3" />
	<property name="arm_1_offset" value="0.1" />
	<property name="arm_2_offset" value="0.2" />
	<property name="arm_3_offset" value="0.3" />
	<property name="arm_4_offset" value="0.4" />
	<property name="arm_5_offset" value="0.5" />
	<property name="arm_6_offset" value="0.6" />
	<property name="arm_7_offset" value="0.7" />

</robot>
