<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find cob_description)/urdf/common.xacro"/>
  <xacro:include filename="$(find raw_description)/urdf/arm_camera/arm_camera.gazebo.xacro" />

  <xacro:property name="arm_camera_length" value="0.043"/>
  <xacro:property name="arm_camera_width" value="0.170"/>
  <xacro:property name="arm_camera_height" value="0.126"/>
  <xacro:property name="safe_value" value="0.01"/>

  <xacro:macro name="arm_camera" params="name parent *origin">

    <joint name="${name}_base_joint" type="fixed">
        <xacro:insert_block name="origin"/>
        <parent link="${parent}"/>
        <child link="${name}_frame"/>
    </joint>

    <link name="${name}_frame"/>

    <!-- joint between gripper_coupling_link and arm_camera_link -->
    <joint name="${name}_joint" type="fixed">
        <parent link="${name}_frame"/>
        <child link="${name}_link"/>
        <origin xyz=" 0.083 0.0 0.0" rpy="0.0 -1.57 -3.1415"/>
    </joint>

    <link name="${name}_link">
		<xacro:box_inertial x="0.002" y="0.04" z="0.26" mass="0.0057307">
        	<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      	</xacro:box_inertial>
        <visual>
            <origin xyz="0.00 0 0.0" rpy="0.0 0 0"/>
            <geometry>
                <box size="${arm_camera_length} ${arm_camera_width} ${arm_camera_height}"/> <!-- hwl-->
            </geometry>
            <material name="silver">
                <color rgba="0.8 0.8 0.8 1"/>
            </material>
        </visual>
        <collision>
            <!-- move gripper_body frame to center of gripper and rotate same as arm_ee_link -->
            <origin xyz="0.00 0.00 0.00" rpy="0 0 0.0"/>
            <geometry>
                <box size="${arm_camera_length} ${arm_camera_width} ${arm_camera_height}"/> <!-- hwl-->
            </geometry>
        </collision>
    </link>

    <!-- extensions -->
    <xacro:arm_camera_gazebo name="${parent}"/>

  </xacro:macro>

</robot>
