<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro"
       name="torso">

	<include filename="$(find cob_defs)/ros/calibration/cob3-1.xacro" />

	<!-- arm module -->
	<xacro:macro name="arm_module" params="module_nr parent prefix offset">
		<link name="${prefix}_${module_nr}_link"/>

		<joint name="${prefix}_${module_nr}_joint" type="fixed">
			<parent link="${parent}_link"/>
			<child link="${prefix}_${module_nr}_link"/>
			<calibration reference_position="${offset}"/>
		</joint>
	</xacro:macro>

	<!-- compose robot -->
	<xacro:macro name="lwa" params="name parent">
		<link name="${name}_0_link"/>

		<joint name="${name}_0_joint" type="fixed">
			<parent link="${parent}_link"/>
			<child link="${name}_0_link"/>
		</joint>
		<xacro:arm_module module_nr="1" parent="${name}_0" prefix="${name}" offset="${arm_1_offset}"/>
		<xacro:arm_module module_nr="2" parent="${name}_1" prefix="${name}" offset="${arm_2_offset}"/>
		<xacro:arm_module module_nr="3" parent="${name}_2" prefix="${name}" offset="${arm_3_offset}"/>
		<xacro:arm_module module_nr="4" parent="${name}_3" prefix="${name}" offset="${arm_4_offset}"/>
		<xacro:arm_module module_nr="5" parent="${name}_4" prefix="${name}" offset="${arm_5_offset}"/>
		<xacro:arm_module module_nr="6" parent="${name}_5" prefix="${name}" offset="${arm_6_offset}"/>
		<xacro:arm_module module_nr="7" parent="${name}_6" prefix="${name}" offset="${arm_7_offset}"/>
	</xacro:macro>
</robot>
