<?xml version="1.0"?>
<root xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
      xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
      xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
      xmlns:xacro="http://ros.org/wiki/xacro">
  
<xacro:macro name="cob_kinect_gazebo_v0" params="name ros_topic">

  <gazebo reference="${name}_frame">
    <sensor:ray name="${name}_sensor">
          <rayCount>210</rayCount> <!--old value 160-->
          <rangeCount>210</rangeCount>
          <laserCount>1</laserCount>
          
          <origin>0.0 0.0 0.05</origin>
          <displayRays>false</displayRays>
          
          <minAngle>-28.50</minAngle>
	  <!--minAngle>-31.63</minAngle-->
          <maxAngle>28.50</maxAngle>
	  <!--maxAngle>31.63</maxAngle-->

          
          <!--minRange>1.00</minRange--> <!--0.8m min calibrated range-->
          <minRange>1</minRange>  <!--original value 1.2-->
	  <!--maxRange>5.0</maxRange--> <!--5.0m max calibrated range-->
          <maxRange>10</maxRange><!--real value 3.5-->
	  <resRange>0.010</resRange>
          <updateRate>30</updateRate> <!-- old value 10Hz -->

          <verticalRayCount>220</verticalRayCount> <!--old value 120 -->
          <verticalRangeCount>220</verticalRangeCount>
          <verticalMinAngle>-21.50</verticalMinAngle>
	  <!--verticalMinAngle>-25.74</verticalMinAngle-->
          <verticalMaxAngle>21.50</verticalMaxAngle>
	  <!--verticalMaxAngle>25.74</verticalMaxAngle-->
          <controller:gazebo_ros_block_laser name="kinect_controller" plugin="libgazebo_ros_block_laser.so">
            <focal_length>580</focal_length>
	    <gaussianNoise>0.005</gaussianNoise>
            <alwaysOn>true</alwaysOn>
            <updateRate>30</updateRate> <!-- old value 10Hz -->
            <topicName>${ros_topic}</topicName>
            <frameName>/${name}_frame</frameName>
            <interface:laser name="${name}_ray_block_iface" />
          </controller:gazebo_ros_block_laser>
        </sensor:ray>
    <material value="Gazebo/Red" />
    <turnGravityOff>true</turnGravityOff>
  </gazebo>

</xacro:macro>

</root>
