<?xml version="1.0"?>
<launch>

	<include file="$(find cob_machine)/$(env ROBOT).machine" />

	<arg name="sim" default="1==1" />

	<!-- startup hardware or simulation -->
	<!--group if="$(arg sim)"-->
	<group if="$(arg sim)">
		<param name="cob_setup" value="sim" type="string" />
		<include file="$(find cob_gazebo_worlds)/ros/launch/ipa_kitchen_no_x.launch" />
		<include file="$(find cob_gazebo)/ros/launch/cob3.launch" />
	</group>

</launch>
