<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="cob_torso_transmission_v0" params="name">


    <transmission name="${name}_tray_trans" type="SimpleTransmission">
		<actuator name="${name}_tray_motor"/>
		<joint name="${name}_tray_joint"/>
		<mechanicalReduction>1</mechanicalReduction>
    </transmission>

    <transmission name="${name}_lower_neck_pan_trans" type="SimpleTransmission">
		<actuator name="${name}_lower_neck_pan_motor"/>
		<joint name="${name}_lower_neck_pan_joint"/>
		<mechanicalReduction>1</mechanicalReduction>
    </transmission>

    <transmission name="${name}_lower_neck_tilt_trans" type="SimpleTransmission">
		<actuator name="${name}_lower_neck_tilt_motor"/>
		<joint name="${name}_lower_neck_tilt_joint"/>
		<mechanicalReduction>1</mechanicalReduction>
    </transmission>


    <transmission name="${name}_upper_neck_pan_trans" type="SimpleTransmission">
		<actuator name="${name}_upper_neck_pan_motor"/>
		<joint name="${name}_upper_neck_pan_joint"/>
		<mechanicalReduction>1</mechanicalReduction>
    </transmission>

    <transmission name="${name}_upper_neck_tilt_trans" type="SimpleTransmission">
		<actuator name="${name}_upper_neck_tilt_motor"/>
		<joint name="${name}_upper_neck_tilt_joint"/>
		<mechanicalReduction>1</mechanicalReduction>
    </transmission>

  </xacro:macro>

</robot>
