<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="cob_tray_transmission" params="name">

		<transmission name="${name}_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<actuator name="${name}_motor">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
	        	<mechanicalReduction>1</mechanicalReduction>
	      	</actuator>
			<joint name="${name}_joint"/>
		</transmission>

	</xacro:macro>

</robot>
