<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find cob_description)/urdf/common.xacro"/>
  <xacro:include filename="$(find raw_description)/urdf/base_mini/base.gazebo.xacro" />

  <!-- drive_wheel module -->
  <xacro:include filename="$(find raw_description)/urdf/mecanum_wheel/mecanum_wheel.urdf.xacro" />


  <!-- properties -->
  <xacro:property name="caster_offset_x" value="0.115" />
  <xacro:property name="caster_offset_y" value="0.09" />
  <xacro:property name="caster_offset_z" value="0.00" />

  <xacro:property name="base_mass" value="2" />

  <xacro:macro name="raw_mini_base" params="name">

    <link name="${name}_footprint"/>

    <joint name="${name}_footprint_joint" type="fixed">
      <origin xyz="0 0 0.05" rpy="0 0 0" />
      <parent link="${name}_footprint"/>
      <child link="${name}_link" />
    </joint>

    <link name="${name}_link">
      <xacro:box_inertial x="0.3" y="0.2" z="0.15" mass="${base_mass}">
        <origin xyz="0 0 0" />
      </xacro:box_inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://raw_description/meshes/base/raw_mini_base.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://raw_description/meshes/base/raw_mini_base.dae"/>
        </geometry>
      </collision>
    </link>


    <!-- arrangement of the four drive_wheel modules -->
    <xacro:mecanum_wheel parent="${name}_link" suffix="fl">
      <origin xyz="${caster_offset_x} ${caster_offset_y} ${caster_offset_z}" rpy="${M_PI/2} 0 0" />
    </xacro:mecanum_wheel>
    <xacro:mecanum_wheel parent="${name}_link" suffix="fr">
      <origin xyz="${caster_offset_x} ${-caster_offset_y} ${caster_offset_z}" rpy="${-M_PI/2} 0 0" />
    </xacro:mecanum_wheel>
    <xacro:mecanum_wheel parent="${name}_link" suffix="bl">
      <origin xyz="${-caster_offset_x} ${caster_offset_y} ${caster_offset_z}" rpy="${M_PI/2} 0 0" />
    </xacro:mecanum_wheel>
    <xacro:mecanum_wheel parent="${name}_link" suffix="br">
      <origin xyz="${-caster_offset_x} ${-caster_offset_y} ${caster_offset_z}" rpy="${-M_PI/2} 0 0" />
    </xacro:mecanum_wheel>
  </xacro:macro>

  <xacro:base_gazebo name="base"/>
</robot>
