<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

	<include filename="$(find ur_description)/urdf/ur10.urdf.xacro" />

	<xacro:macro name="cob_ur10" params="parent name *origin">
	
		<!-- mount the arm to the robot -->
		<joint name="${name}_base_joint" type="fixed" >
			<insert_block name="origin" />
			<parent link="${parent}" />
			<child link="arm_base_link" />
		</joint>
		
		<!-- include universal_robot arm -->
		<xacro:ur10_robot prefix="arm_"/>
	
	</xacro:macro>

</robot>
